{# templates/cumulative_report_template.html #}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./static/css/style.css">
    <title>data_release_report</title>
</head>
<body>
   
   <table style="width=100%; font-family: Arial, Helvetica, sans-serif; bottom-margin:50px">
   <tr>
     <td style="width: 40%; padding: 3px; text-align: left"><img src="./static/images/OICR_Logo_RGB_ENGLISH.png" alt="OICR_logo" title="OICR_logo" style="padding-right: 8px; padding-left:0px; width:10; height:10"></td>
     <td style="width: 60%; padding: 3px; text-align: left"><p style="text-align: center; color: black; font-size:45px; font-family: Arial, Verdana, sans-serif; font-weight:bold">Cumulative Project Report</p></td>
   </tr>
   </table>
   
   
   <table id="project_table">
   <tr>
     <th>Project Title</th>
     <th>Project Name</th>
     <th>Date</th>     
   </tr>   
   <tr>       
     <td> {{ projects['acronym'] }} </td>
     <td> {{ projects['name'] }} </td>        
     <td> {{ projects['date'] }} </td>
   </tr>
   </table>
    
   <p>This report is a summary of all the raw sequence data that had been released for this project, and provides associated sample information and sample level QC metrics.</p>
   
   <h2>1. File Count</h2>
   <p>A total of {{file_count}} pairs of fastq files have been released for project {{projects['acronym']}}. File count is broken down by library type, instrument and run as follow.</p>
   
   <table id="info_table">
   <tr>
     <th>Library Type</th>      
     <th>Sequencing Platform</th>
     <th>Sequencing Run</th>
     <th>Paired fastq files</th>     
   </tr>   
   
   {% for library_type in lt %} 
     {% for instrument in sp[library_type] %}
       {% for run in rn[library_type][instrument] %}
         <tr>        
         <td> {{library_type}} </td>
         <td> {{instrument}} </td>
         <td> {{run}} </td>
         <td> {{fastq_counts[library_type][instrument][run]}} </td> 
         </tr>
       {% endfor %}                    
     {% endfor %}               
   {% endfor %}                 
  </table>

  <div style="page-break-after: always;"></div>

  <div class="landscape">
  
  <h2>2. Sample information for sequenced libraries</h2>

   <p>Provides information about the sequenced samples.</p>
     
   <h3>Table 1. Sample identifiers</h3>
   
   <table id="info_table", style="font-size: 12px;">
   <tr>
     <th>{{header_identifiers.0}}</th>
     <th>{{header_identifiers.1}}</th>
     <th>{{header_identifiers.2}}</th>
     <th>{{header_identifiers.3}}</th>
     <th>{{header_identifiers.4}}</th>
     <th>{{header_identifiers.5}}</th>
     <th>{{header_identifiers.6}}</th>
     <th>{{header_identifiers.7}}</th>
   </tr>   
   <tr>   
   {% for library_source in sample_identifiers %}
     {% for instrument in sample_identifiers[library_source] %}
       </tr>
       {% for i in sample_identifiers[library_source][instrument] %}
         <tr>
           <td> {{i.0}} </td>
           <td> {{i.1}} </td>
           <td> {{i.2}} </td>
           <td> {{i.3}} </td>
           <td> {{i.4}} </td>
           <td> {{i.5}} </td>
           <td> {{i.6}} </td>
           <td> {{i.7}} </td>         
         </tr>        
       {% endfor %}               
    {% endfor %}
   {% endfor %}
  </table>

  <ul>
    {% for i in appendix_identifiers %}
    <li>{{i}}</li>
    {% endfor %}
  </ul>

  <p style="page-break-after: always;"></p>

  <h2>3. QC metrics</h2>
  <p>Provides QC metrics about the raw sequences of each sample.</p>
   
  {% for library_source in library_sources %}

  <h3>{{qc_subtables[library_source]}}</h3>   

  <table id="info_table", style="font-size: 12px;">
   <tr>
     {% for i in header_metrics[library_source] %}
         <th>{{i}}</th>
     {% endfor %}
   </tr>   
   <tr>   
   {% for instrument in qc_metrics %}
   </tr>
       {% for i in qc_metrics[instrument][library_source] %}
         <tr>
           {% for j in range(i | length) %}
           <td>
           {% if j == 1 or j == 2 %}
              {% for k in i[j] %}
                 {{k}}
                 <br> 
              {% endfor %} 
           {% else %}
              {{i[j]}}
           {% endif %}
           </td>
           {% endfor %}
         </tr>        
       {% endfor %}               
  {% endfor %}
 </table>

 <ul>
    {% for i in qc_appendices['metrics'][library_source] %}
        <li>{{i}}</li>
    {% endfor %}
 </ul>

  <div style="page-break-after: always;"></div>      

  {% endfor %}
  
  </div>  

  <h2>4. QC plots</h2>
  
    <p>QC plots are organized by platform. Each plot displays a distinct metric (y-axis) for each sample (x-axis). Samples are organized on each plot by ascending <span style="font-style: italic">read counts</span>. Lines are the median of each metric.</p>
    
    {% for library_source in platforms %}
        {% for platform in platforms[library_source] %}
            <h3>{{platform}} {{library_source}} libraries</h3> 
            {% if figure_files[library_source][platform] %}
              <img src="{{figure_files[library_source][platform]}}" title="metrics_plot" alt="QC_plot" style="padding-right: 2px; padding-left:0px; width:5; height:5"/>             
            {% else %}
              <p>Data could not be plotted because of missing QC metrics</p>
            {% endif %}
            <p style="page-break-before: always;"></p>      
        {% endfor %}
    {% endfor %}


  <table id="user_table">
    <tr>
      <th colspan="2">For internal use only</th>
    </tr>   
    <tr>
      <td> {{user}} </td>
      <td> {{ticket}} </td>
    </tr>
  </table>

  
</body>
</html>
